.alumnos-container {
  width: 100%;
  height: 100vh;
  padding-top: 20px;
}

.alumnos-list-container {
  width: 100%;
  padding: 0 1%;
}

#alumnos-add {
  background-color: #8fc027;
  color: white;
  border-radius: 15px;
  font-size: 20px;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 40px;
  width: 260px;
}

.add-icon {
  margin-left: 5px;
}

.student-container {
  display: flex;
  justify-content: space-between;
}
