.student-card-container {
  background-color: #3a557c;
  width: 400px;
  border-radius: 15px;
  border: none;
  margin-bottom: 40px;
}

.student-card {
  font-size: 20px;
  color: white;
  padding: 20px 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popover-menu {
  background-color: white;
  padding: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.popover-option {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.option-middle {
  margin-top: 10px;
  margin-bottom: 10px;
}
