.student-card-container {
  background-color: #3a557c;
  width: 400px;
  border-radius: 15px;
  border: none;
  margin-bottom: 40px;
  margin-right: 90px;
}

.student-card {
  font-size: 20px;
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  height: 80px;
}

.popover-menu {
  background-color: white;
  padding: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.popover-option {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.option-middle {
  margin-top: 10px;
  margin-bottom: 10px;
}

.options-menu {
  font-size: 35px;
  cursor: pointer;
}

.student-card-logo,
.student-card-options {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.student-logo-icon {
  font-size: 45px;
}

.student-name {
  width: 60%;
}
